## Loading data into Pandas

In [4]:
import pandas as pd

#df = pd.read_csv('data/pokemon_data.csv')

# print(df.head(5))

df= pd.read_excel('data/pokemon_data.xlsx')
# print(df_xlsx.head(3))

# df = pd.read_csv('pokemon_data.txt', delimiter='\t')

# print(df.head(5))

#df['HP'].head()
#df.columns
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

## Reading Data in Pandas

In [43]:
#### Read Headers
#df.columns

## Read each Column
#print(df[['Name', 'Type 1', 'HP']])

## Read Each Row
#print(df.iloc[0:4])

for index, row in df.iterrows(): #Return Index Position and row Values
     print(index, row[['Name',"Generation"]]) #Index with name under Name
     print("\n")

#df.loc[df['Type 1'] == "Grass"]

## Read a specific location (R,C)
#print(df.iloc[2,1])
#print(df[["Name","HP","Speed"]])
#df.iloc[0:10] #Row from 0 to 10
#df.head(10)
#df.iloc[2,1] # Row 2 and col 1

0 Name          Bulbasaur
Generation            1
Name: 0, dtype: object


1 Name          Ivysaur
Generation          1
Name: 1, dtype: object


2 Name          Venusaur
Generation           1
Name: 2, dtype: object


3 Name          VenusaurMega Venusaur
Generation                        1
Name: 3, dtype: object


4 Name          Charmander
Generation             1
Name: 4, dtype: object


5 Name          Charmeleon
Generation             1
Name: 5, dtype: object


6 Name          Charizard
Generation            1
Name: 6, dtype: object


7 Name          CharizardMega Charizard X
Generation                            1
Name: 7, dtype: object


8 Name          CharizardMega Charizard Y
Generation                            1
Name: 8, dtype: object


9 Name          Squirtle
Generation           1
Name: 9, dtype: object


10 Name          Wartortle
Generation            1
Name: 10, dtype: object


11 Name          Blastoise
Generation            1
Name: 11, dtype: object


12 Name          BlastoiseMega Blastoise
Generation                          1
Name: 12, dtype: object


13 Name          Caterpie
Generation           1
Name: 13, dtype: object


14 Name          Metapod
Generation          1
Name: 14, dtype: object


15 Name          Butterfree
Generation             1
Name: 15, dtype: object


16 Name          Weedle
Generation         1
Name: 16, dtype: object


17 Name          Kakuna
Generation         1
Name: 17, dtype: object


18 Name          Beedrill
Generation           1
Name: 18, dtype: object


19 Name          BeedrillMega Beedrill
Generation                        1
Name: 19, dtype: object


20 Name          Pidgey
Generation         1
Name: 20, dtype: object


21 Name          Pidgeotto
Generation            1
Name: 21, dtype: object


22 Name          Pidgeot
Generation          1
Name: 22, dtype: object


23 Name          PidgeotMega Pidgeot
Generation                      1
Name: 23, dtype: object


24 Name          Rattata
Generation          1
Name: 24, dtype: object


25 Name          Raticate
Generation           1
Name: 25, dtype: object


26 Name          Spearow
Generation          1
Name: 26, dtype: object


27 Name          Fearow
Generation         1
Name: 27, dtype: object


28 Name          Ekans
Generation        1
Name: 28, dtype: object


29 Name          Arbok
Generation        1
Name: 29, dtype: object


30 Name          Pikachu
Generation          1
Name: 30, dtype: object


31 Name          Raichu
Generation         1
Name: 31, dtype: object


32 Name          Sandshrew
Generation            1
Name: 32, dtype: object


33 Name          Sandslash
Generation            1
Name: 33, dtype: object


34 Name          Nidoran (Female)
Generation                   1
Name: 34, dtype: object


35 Name          Nidorina
Generation           1
Name: 35, dtype: object


36 Name          Nidoqueen
Generation            1
Name: 36, dtype: object


37 Name          Nidoran (Male)
Generation                 1
Name: 37, dtype: object


38 Name          Nidorino
Generation           1
Name: 38, dtype: object


39 Name          Nidoking
Generation           1
Name: 39, dtype: object


40 Name          Clefairy
Generation           1
Name: 40, dtype: object


41 Name          Clefable
Generation           1
Name: 41, dtype: object


42 Name          Vulpix
Generation         1
Name: 42, dtype: object


43 Name          Ninetales
Generation            1
Name: 43, dtype: object


44 Name          Jigglypuff
Generation             1
Name: 44, dtype: object


45 Name          Wigglytuff
Generation             1
Name: 45, dtype: object


46 Name          Zubat
Generation        1
Name: 46, dtype: object


47 Name          Golbat
Generation         1
Name: 47, dtype: object


48 Name          Oddish
Generation         1
Name: 48, dtype: object


49 Name          Gloom
Generation        1
Name: 49, dtype: object


50 Name          Vileplume
Generation            1
Name: 50, dtype: object


51 Name          Paras
Generation        1
Name: 51, dtype: object


52 Name          Parasect
Generation           1
Name: 52, dtype: object


53 Name          Venonat
Generation          1
Name: 53, dtype: object


54 Name          Venomoth
Generation           1
Name: 54, dtype: object


55 Name          Diglett
Generation          1
Name: 55, dtype: object


56 Name          Dugtrio
Generation          1
Name: 56, dtype: object


57 Name          Meowth
Generation         1
Name: 57, dtype: object


58 Name          Persian
Generation          1
Name: 58, dtype: object


59 Name          Psyduck
Generation          1
Name: 59, dtype: object


60 Name          Golduck
Generation          1
Name: 60, dtype: object


61 Name          Mankey
Generation         1
Name: 61, dtype: object


62 Name          Primeape
Generation           1
Name: 62, dtype: object


63 Name          Growlithe
Generation            1
Name: 63, dtype: object


64 Name          Arcanine
Generation           1
Name: 64, dtype: object


65 Name          Poliwag
Generation          1
Name: 65, dtype: object


66 Name          Poliwhirl
Generation            1
Name: 66, dtype: object


67 Name          Poliwrath
Generation            1
Name: 67, dtype: object


68 Name          Abra
Generation       1
Name: 68, dtype: object


69 Name          Kadabra
Generation          1
Name: 69, dtype: object


70 Name          Alakazam
Generation           1
Name: 70, dtype: object


71 Name          AlakazamMega Alakazam
Generation                        1
Name: 71, dtype: object


72 Name          Machop
Generation         1
Name: 72, dtype: object


73 Name          Machoke
Generation          1
Name: 73, dtype: object


74 Name          Machamp
Generation          1
Name: 74, dtype: object


75 Name          Bellsprout
Generation             1
Name: 75, dtype: object


76 Name          Weepinbell
Generation             1
Name: 76, dtype: object


77 Name          Victreebel
Generation             1
Name: 77, dtype: object


78 Name          Tentacool
Generation            1
Name: 78, dtype: object


79 Name          Tentacruel
Generation             1
Name: 79, dtype: object


80 Name          Geodude
Generation          1
Name: 80, dtype: object


81 Name          Graveler
Generation           1
Name: 81, dtype: object


82 Name          Golem
Generation        1
Name: 82, dtype: object


83 Name          Ponyta
Generation         1
Name: 83, dtype: object


84 Name          Rapidash
Generation           1
Name: 84, dtype: object


85 Name          Slowpoke
Generation           1
Name: 85, dtype: object


86 Name          Slowbro
Generation          1
Name: 86, dtype: object


87 Name          SlowbroMega Slowbro
Generation                      1
Name: 87, dtype: object


88 Name          Magnemite
Generation            1
Name: 88, dtype: object


89 Name          Magneton
Generation           1
Name: 89, dtype: object


90 Name          Farfetch'd
Generation             1
Name: 90, dtype: object


91 Name          Doduo
Generation        1
Name: 91, dtype: object


92 Name          Dodrio
Generation         1
Name: 92, dtype: object


93 Name          Seel
Generation       1
Name: 93, dtype: object


94 Name          Dewgong
Generation          1
Name: 94, dtype: object


95 Name          Grimer
Generation         1
Name: 95, dtype: object


96 Name          Muk
Generation      1
Name: 96, dtype: object


97 Name          Shellder
Generation           1
Name: 97, dtype: object


98 Name          Cloyster
Generation           1
Name: 98, dtype: object


99 Name          Gastly
Generation         1
Name: 99, dtype: object


100 Name          Haunter
Generation          1
Name: 100, dtype: object


101 Name          Gengar
Generation         1
Name: 101, dtype: object


102 Name          GengarMega Gengar
Generation                    1
Name: 102, dtype: object


103 Name          Onix
Generation       1
Name: 103, dtype: object


104 Name          Drowzee
Generation          1
Name: 104, dtype: object


105 Name          Hypno
Generation        1
Name: 105, dtype: object


106 Name          Krabby
Generation         1
Name: 106, dtype: object


107 Name          Kingler
Generation          1
Name: 107, dtype: object


108 Name          Voltorb
Generation          1
Name: 108, dtype: object


109 Name          Electrode
Generation            1
Name: 109, dtype: object


110 Name          Exeggcute
Generation            1
Name: 110, dtype: object


111 Name          Exeggutor
Generation            1
Name: 111, dtype: object


112 Name          Cubone
Generation         1
Name: 112, dtype: object

113 Name          Marowak
Generation          1
Name: 113, dtype: object


114 Name          Hitmonlee
Generation            1
Name: 114, dtype: object


115 Name          Hitmonchan
Generation             1
Name: 115, dtype: object


116 Name          Lickitung
Generation            1
Name: 116, dtype: object


117 Name          Koffing
Generation          1
Name: 117, dtype: object


118 Name          Weezing
Generation          1
Name: 118, dtype: object


119 Name          Rhyhorn
Generation          1
Name: 119, dtype: object


120 Name          Rhydon
Generation         1
Name: 120, dtype: object


121 Name          Chansey
Generation          1
Name: 121, dtype: object


122 Name          Tangela
Generation          1
Name: 122, dtype: object


123 Name          Kangaskhan
Generation             1
Name: 123, dtype: object


124 Name          KangaskhanMega Kangaskhan
Generation                            1
Name: 124, dtype: object


125 Name          Horsea
Generation         1
Name: 125, dtype: object


126 Name          Seadra
Generation         1
Name: 126, dtype: object


127 Name          Goldeen
Generation          1
Name: 127, dtype: object


128 Name          Seaking
Generation          1
Name: 128, dtype: object


129 Name          Staryu
Generation         1
Name: 129, dtype: object


130 Name          Starmie
Generation          1
Name: 130, dtype: object


131 Name          Mr. Mime
Generation           1
Name: 131, dtype: object


132 Name          Scyther
Generation          1
Name: 132, dtype: object


133 Name          Jynx
Generation       1
Name: 133, dtype: object


134 Name          Electabuzz
Generation             1
Name: 134, dtype: object


135 Name          Magmar
Generation         1
Name: 135, dtype: object


136 Name          Pinsir
Generation         1
Name: 136, dtype: object


137 Name          PinsirMega Pinsir
Generation                    1
Name: 137, dtype: object


138 Name          Tauros
Generation         1
Name: 138, dtype: object


139 Name          Magikarp
Generation           1
Name: 139, dtype: object


140 Name          Gyarados
Generation           1
Name: 140, dtype: object


141 Name          GyaradosMega Gyarados
Generation                        1
Name: 141, dtype: object


142 Name          Lapras
Generation         1
Name: 142, dtype: object


143 Name          Ditto
Generation        1
Name: 143, dtype: object


144 Name          Eevee
Generation        1
Name: 144, dtype: object


145 Name          Vaporeon
Generation           1
Name: 145, dtype: object


146 Name          Jolteon
Generation          1
Name: 146, dtype: object


147 Name          Flareon
Generation          1
Name: 147, dtype: object


148 Name          Porygon
Generation          1
Name: 148, dtype: object


149 Name          Omanyte
Generation          1
Name: 149, dtype: object


150 Name          Omastar
Generation          1
Name: 150, dtype: object


151 Name          Kabuto
Generation         1
Name: 151, dtype: object


152 Name          Kabutops
Generation           1
Name: 152, dtype: object


153 Name          Aerodactyl
Generation             1
Name: 153, dtype: object


154 Name          AerodactylMega Aerodactyl
Generation                            1
Name: 154, dtype: object


155 Name          Snorlax
Generation          1
Name: 155, dtype: object


156 Name          Articuno
Generation           1
Name: 156, dtype: object


157 Name          Zapdos
Generation         1
Name: 157, dtype: object


158 Name          Moltres
Generation          1
Name: 158, dtype: object


159 Name          Dratini
Generation          1
Name: 159, dtype: object


160 Name          Dragonair
Generation            1
Name: 160, dtype: object


161 Name          Dragonite
Generation            1
Name: 161, dtype: object


162 Name          Mewtwo
Generation         1
Name: 162, dtype: object


163 Name          MewtwoMega Mewtwo X
Generation                      1
Name: 163, dtype: object


164 Name          MewtwoMega Mewtwo Y
Generation                      1
Name: 164, dtype: object


165 Name          Mew
Generation      1
Name: 165, dtype: object


166 Name          Chikorita
Generation            2
Name: 166, dtype: object


167 Name          Bayleef
Generation          2
Name: 167, dtype: object


168 Name          Meganium
Generation           2
Name: 168, dtype: object


169 Name          Cyndaquil
Generation            2
Name: 169, dtype: object


170 Name          Quilava
Generation          2
Name: 170, dtype: object


171 Name          Typhlosion
Generation             2
Name: 171, dtype: object


172 Name          Totodile
Generation           2
Name: 172, dtype: object


173 Name          Croconaw
Generation           2
Name: 173, dtype: object


174 Name          Feraligatr
Generation             2
Name: 174, dtype: object


175 Name          Sentret
Generation          2
Name: 175, dtype: object


176 Name          Furret
Generation         2
Name: 176, dtype: object


177 Name          Hoothoot
Generation           2
Name: 177, dtype: object


178 Name          Noctowl
Generation          2
Name: 178, dtype: object


179 Name          Ledyba
Generation         2
Name: 179, dtype: object


180 Name          Ledian
Generation         2
Name: 180, dtype: object


181 Name          Spinarak
Generation           2
Name: 181, dtype: object


182 Name          Ariados
Generation          2
Name: 182, dtype: object


183 Name          Crobat
Generation         2
Name: 183, dtype: object


184 Name          Chinchou
Generation           2
Name: 184, dtype: object


185 Name          Lanturn
Generation          2
Name: 185, dtype: object


186 Name          Pichu
Generation        2
Name: 186, dtype: object


187 Name          Cleffa
Generation         2
Name: 187, dtype: object


188 Name          Igglybuff
Generation            2
Name: 188, dtype: object


189 Name          Togepi
Generation         2
Name: 189, dtype: object


190 Name          Togetic
Generation          2
Name: 190, dtype: object


191 Name          Natu
Generation       2
Name: 191, dtype: object


192 Name          Xatu
Generation       2
Name: 192, dtype: object


193 Name          Mareep
Generation         2
Name: 193, dtype: object


194 Name          Flaaffy
Generation          2
Name: 194, dtype: object


195 Name          Ampharos
Generation           2
Name: 195, dtype: object


196 Name          AmpharosMega Ampharos
Generation                        2
Name: 196, dtype: object


197 Name          Bellossom
Generation            2
Name: 197, dtype: object


198 Name          Marill
Generation         2
Name: 198, dtype: object


199 Name          Azumarill
Generation            2
Name: 199, dtype: object


200 Name          Sudowoodo
Generation            2
Name: 200, dtype: object


201 Name          Politoed
Generation           2
Name: 201, dtype: object


202 Name          Hoppip
Generation         2
Name: 202, dtype: object


203 Name          Skiploom
Generation           2
Name: 203, dtype: object


204 Name          Jumpluff
Generation           2
Name: 204, dtype: object


205 Name          Aipom
Generation        2
Name: 205, dtype: object


206 Name          Sunkern
Generation          2
Name: 206, dtype: object


207 Name          Sunflora
Generation           2
Name: 207, dtype: object


208 Name          Yanma
Generation        2
Name: 208, dtype: object


209 Name          Wooper
Generation         2
Name: 209, dtype: object


210 Name          Quagsire
Generation           2
Name: 210, dtype: object


211 Name          Espeon
Generation         2
Name: 211, dtype: object


212 Name          Umbreon
Generation          2
Name: 212, dtype: object


213 Name          Murkrow
Generation          2
Name: 213, dtype: object


214 Name          Slowking
Generation           2
Name: 214, dtype: object


215 Name          Misdreavus
Generation             2
Name: 215, dtype: object


216 Name          Unown
Generation        2
Name: 216, dtype: object


217 Name          Wobbuffet
Generation            2
Name: 217, dtype: object


218 Name          Girafarig
Generation            2
Name: 218, dtype: object


219 Name          Pineco
Generation         2
Name: 219, dtype: object


220 Name          Forretress
Generation             2
Name: 220, dtype: object


221 Name          Dunsparce
Generation            2
Name: 221, dtype: object


222 Name          Gligar
Generation         2
Name: 222, dtype: object


223 Name          Steelix
Generation          2
Name: 223, dtype: object


224 Name          SteelixMega Steelix
Generation                      2
Name: 224, dtype: object


225 Name          Snubbull
Generation           2
Name: 225, dtype: object


226 Name          Granbull
Generation           2
Name: 226, dtype: object


227 Name          Qwilfish
Generation           2
Name: 227, dtype: object


228 Name          Scizor
Generation         2
Name: 228, dtype: object


229 Name          ScizorMega Scizor
Generation                    2
Name: 229, dtype: object


230 Name          Shuckle
Generation          2
Name: 230, dtype: object


231 Name          Heracross
Generation            2
Name: 231, dtype: object


232 Name          HeracrossMega Heracross
Generation                          2
Name: 232, dtype: object


233 Name          Sneasel
Generation          2
Name: 233, dtype: object


234 Name          Teddiursa
Generation            2
Name: 234, dtype: object


235 Name          Ursaring
Generation           2
Name: 235, dtype: object


236 Name          Slugma
Generation         2
Name: 236, dtype: object

237 Name          Magcargo
Generation           2
Name: 237, dtype: object


238 Name          Swinub
Generation         2
Name: 238, dtype: object


239 Name          Piloswine
Generation            2
Name: 239, dtype: object


240 Name          Corsola
Generation          2
Name: 240, dtype: object


241 Name          Remoraid
Generation           2
Name: 241, dtype: object


242 Name          Octillery
Generation            2
Name: 242, dtype: object


243 Name          Delibird
Generation           2
Name: 243, dtype: object


244 Name          Mantine
Generation          2
Name: 244, dtype: object


245 Name          Skarmory
Generation           2
Name: 245, dtype: object


246 Name          Houndour
Generation           2
Name: 246, dtype: object


247 Name          Houndoom
Generation           2
Name: 247, dtype: object


248 Name          HoundoomMega Houndoom
Generation                        2
Name: 248, dtype: object


249 Name          Kingdra
Generation          2
Name: 249, dtype: object


250 Name          Phanpy
Generation         2
Name: 250, dtype: object


251 Name          Donphan
Generation          2
Name: 251, dtype: object


252 Name          Porygon2
Generation           2
Name: 252, dtype: object


253 Name          Stantler
Generation           2
Name: 253, dtype: object


254 Name          Smeargle
Generation           2
Name: 254, dtype: object


255 Name          Tyrogue
Generation          2
Name: 255, dtype: object


256 Name          Hitmontop
Generation            2
Name: 256, dtype: object


257 Name          Smoochum
Generation           2
Name: 257, dtype: object


258 Name          Elekid
Generation         2
Name: 258, dtype: object


259 Name          Magby
Generation        2
Name: 259, dtype: object


260 Name          Miltank
Generation          2
Name: 260, dtype: object


261 Name          Blissey
Generation          2
Name: 261, dtype: object


262 Name          Raikou
Generation         2
Name: 262, dtype: object


263 Name          Entei
Generation        2
Name: 263, dtype: object


264 Name          Suicune
Generation          2
Name: 264, dtype: object


265 Name          Larvitar
Generation           2
Name: 265, dtype: object


266 Name          Pupitar
Generation          2
Name: 266, dtype: object


267 Name          Tyranitar
Generation            2
Name: 267, dtype: object


268 Name          TyranitarMega Tyranitar
Generation                          2
Name: 268, dtype: object


269 Name          Lugia
Generation        2
Name: 269, dtype: object


270 Name          Ho-oh
Generation        2
Name: 270, dtype: object


271 Name          Celebi
Generation         2
Name: 271, dtype: object


272 Name          Treecko
Generation          3
Name: 272, dtype: object


273 Name          Grovyle
Generation          3
Name: 273, dtype: object


274 Name          Sceptile
Generation           3
Name: 274, dtype: object


275 Name          SceptileMega Sceptile
Generation                        3
Name: 275, dtype: object


276 Name          Torchic
Generation          3
Name: 276, dtype: object


277 Name          Combusken
Generation            3
Name: 277, dtype: object


278 Name          Blaziken
Generation           3
Name: 278, dtype: object


279 Name          BlazikenMega Blaziken
Generation                        3
Name: 279, dtype: object


280 Name          Mudkip
Generation         3
Name: 280, dtype: object


281 Name          Marshtomp
Generation            3
Name: 281, dtype: object


282 Name          Swampert
Generation           3
Name: 282, dtype: object


283 Name          SwampertMega Swampert
Generation                        3
Name: 283, dtype: object


284 Name          Poochyena
Generation            3
Name: 284, dtype: object


285 Name          Mightyena
Generation            3
Name: 285, dtype: object


286 Name          Zigzagoon
Generation            3
Name: 286, dtype: object


287 Name          Linoone
Generation          3
Name: 287, dtype: object


288 Name          Wurmple
Generation          3
Name: 288, dtype: object


289 Name          Silcoon
Generation          3
Name: 289, dtype: object


290 Name          Beautifly
Generation            3
Name: 290, dtype: object


291 Name          Cascoon
Generation          3
Name: 291, dtype: object


292 Name          Dustox
Generation         3
Name: 292, dtype: object


293 Name          Lotad
Generation        3
Name: 293, dtype: object


294 Name          Lombre
Generation         3
Name: 294, dtype: object


295 Name          Ludicolo
Generation           3
Name: 295, dtype: object


296 Name          Seedot
Generation         3
Name: 296, dtype: object


297 Name          Nuzleaf
Generation          3
Name: 297, dtype: object


298 Name          Shiftry
Generation          3
Name: 298, dtype: object


299 Name          Taillow
Generation          3
Name: 299, dtype: object


300 Name          Swellow
Generation          3
Name: 300, dtype: object


301 Name          Wingull
Generation          3
Name: 301, dtype: object


302 Name          Pelipper
Generation           3
Name: 302, dtype: object


303 Name          Ralts
Generation        3
Name: 303, dtype: object


304 Name          Kirlia
Generation         3
Name: 304, dtype: object


305 Name          Gardevoir
Generation            3
Name: 305, dtype: object


306 Name          GardevoirMega Gardevoir
Generation                          3
Name: 306, dtype: object


307 Name          Surskit
Generation          3
Name: 307, dtype: object


308 Name          Masquerain
Generation             3
Name: 308, dtype: object


309 Name          Shroomish
Generation            3
Name: 309, dtype: object


310 Name          Breloom
Generation          3
Name: 310, dtype: object


311 Name          Slakoth
Generation          3
Name: 311, dtype: object


312 Name          Vigoroth
Generation           3
Name: 312, dtype: object


313 Name          Slaking
Generation          3
Name: 313, dtype: object


314 Name          Nincada
Generation          3
Name: 314, dtype: object


315 Name          Ninjask
Generation          3
Name: 315, dtype: object


316 Name          Shedinja
Generation           3
Name: 316, dtype: object


317 Name          Whismur
Generation          3
Name: 317, dtype: object


318 Name          Loudred
Generation          3
Name: 318, dtype: object


319 Name          Exploud
Generation          3
Name: 319, dtype: object


320 Name          Makuhita
Generation           3
Name: 320, dtype: object


321 Name          Hariyama
Generation           3
Name: 321, dtype: object


322 Name          Azurill
Generation          3
Name: 322, dtype: object


323 Name          Nosepass
Generation           3
Name: 323, dtype: object


324 Name          Skitty
Generation         3
Name: 324, dtype: object


325 Name          Delcatty
Generation           3
Name: 325, dtype: object


326 Name          Sableye
Generation          3
Name: 326, dtype: object


327 Name          SableyeMega Sableye
Generation                      3
Name: 327, dtype: object


328 Name          Mawile
Generation         3
Name: 328, dtype: object


329 Name          MawileMega Mawile
Generation                    3
Name: 329, dtype: object


330 Name          Aron
Generation       3
Name: 330, dtype: object


331 Name          Lairon
Generation         3
Name: 331, dtype: object


332 Name          Aggron
Generation         3
Name: 332, dtype: object


333 Name          AggronMega Aggron
Generation                    3
Name: 333, dtype: object


334 Name          Meditite
Generation           3
Name: 334, dtype: object


335 Name          Medicham
Generation           3
Name: 335, dtype: object


336 Name          MedichamMega Medicham
Generation                        3
Name: 336, dtype: object


337 Name          Electrike
Generation            3
Name: 337, dtype: object


338 Name          Manectric
Generation            3
Name: 338, dtype: object


339 Name          ManectricMega Manectric
Generation                          3
Name: 339, dtype: object


340 Name          Plusle
Generation         3
Name: 340, dtype: object


341 Name          Minun
Generation        3
Name: 341, dtype: object


342 Name          Volbeat
Generation          3
Name: 342, dtype: object


343 Name          Illumise
Generation           3
Name: 343, dtype: object


344 Name          Roselia
Generation          3
Name: 344, dtype: object


345 Name          Gulpin
Generation         3
Name: 345, dtype: object


346 Name          Swalot
Generation         3
Name: 346, dtype: object


347 Name          Carvanha
Generation           3
Name: 347, dtype: object


348 Name          Sharpedo
Generation           3
Name: 348, dtype: object


349 Name          SharpedoMega Sharpedo
Generation                        3
Name: 349, dtype: object


350 Name          Wailmer
Generation          3
Name: 350, dtype: object


351 Name          Wailord
Generation          3
Name: 351, dtype: object


352 Name          Numel
Generation        3
Name: 352, dtype: object


353 Name          Camerupt
Generation           3
Name: 353, dtype: object


354 Name          CameruptMega Camerupt
Generation                        3
Name: 354, dtype: object


355 Name          Torkoal
Generation          3
Name: 355, dtype: object


356 Name          Spoink
Generation         3
Name: 356, dtype: object


357 Name          Grumpig
Generation          3
Name: 357, dtype: object


358 Name          Spinda
Generation         3
Name: 358, dtype: object


359 Name          Trapinch
Generation           3
Name: 359, dtype: object

360 Name          Vibrava
Generation          3
Name: 360, dtype: object


361 Name          Flygon
Generation         3
Name: 361, dtype: object


362 Name          Cacnea
Generation         3
Name: 362, dtype: object


363 Name          Cacturne
Generation           3
Name: 363, dtype: object


364 Name          Swablu
Generation         3
Name: 364, dtype: object


365 Name          Altaria
Generation          3
Name: 365, dtype: object


366 Name          AltariaMega Altaria
Generation                      3
Name: 366, dtype: object


367 Name          Zangoose
Generation           3
Name: 367, dtype: object


368 Name          Seviper
Generation          3
Name: 368, dtype: object


369 Name          Lunatone
Generation           3
Name: 369, dtype: object


370 Name          Solrock
Generation          3
Name: 370, dtype: object


371 Name          Barboach
Generation           3
Name: 371, dtype: object


372 Name          Whiscash
Generation           3
Name: 372, dtype: object


373 Name          Corphish
Generation           3
Name: 373, dtype: object


374 Name          Crawdaunt
Generation            3
Name: 374, dtype: object


375 Name          Baltoy
Generation         3
Name: 375, dtype: object


376 Name          Claydol
Generation          3
Name: 376, dtype: object


377 Name          Lileep
Generation         3
Name: 377, dtype: object


378 Name          Cradily
Generation          3
Name: 378, dtype: object


379 Name          Anorith
Generation          3
Name: 379, dtype: object


380 Name          Armaldo
Generation          3
Name: 380, dtype: object


381 Name          Feebas
Generation         3
Name: 381, dtype: object


382 Name          Milotic
Generation          3
Name: 382, dtype: object


383 Name          Castform
Generation           3
Name: 383, dtype: object


384 Name          Kecleon
Generation          3
Name: 384, dtype: object


385 Name          Shuppet
Generation          3
Name: 385, dtype: object


386 Name          Banette
Generation          3
Name: 386, dtype: object


387 Name          BanetteMega Banette
Generation                      3
Name: 387, dtype: object


388 Name          Duskull
Generation          3
Name: 388, dtype: object


389 Name          Dusclops
Generation           3
Name: 389, dtype: object


390 Name          Tropius
Generation          3
Name: 390, dtype: object


391 Name          Chimecho
Generation           3
Name: 391, dtype: object


392 Name          Absol
Generation        3
Name: 392, dtype: object


393 Name          AbsolMega Absol
Generation                  3
Name: 393, dtype: object


394 Name          Wynaut
Generation         3
Name: 394, dtype: object


395 Name          Snorunt
Generation          3
Name: 395, dtype: object


396 Name          Glalie
Generation         3
Name: 396, dtype: object


397 Name          GlalieMega Glalie
Generation                    3
Name: 397, dtype: object


398 Name          Spheal
Generation         3
Name: 398, dtype: object


399 Name          Sealeo
Generation         3
Name: 399, dtype: object


400 Name          Walrein
Generation          3
Name: 400, dtype: object


401 Name          Clamperl
Generation           3
Name: 401, dtype: object


402 Name          Huntail
Generation          3
Name: 402, dtype: object


403 Name          Gorebyss
Generation           3
Name: 403, dtype: object


404 Name          Relicanth
Generation            3
Name: 404, dtype: object


405 Name          Luvdisc
Generation          3
Name: 405, dtype: object


406 Name          Bagon
Generation        3
Name: 406, dtype: object


407 Name          Shelgon
Generation          3
Name: 407, dtype: object


408 Name          Salamence
Generation            3
Name: 408, dtype: object


409 Name          SalamenceMega Salamence
Generation                          3
Name: 409, dtype: object


410 Name          Beldum
Generation         3
Name: 410, dtype: object


411 Name          Metang
Generation         3
Name: 411, dtype: object


412 Name          Metagross
Generation            3
Name: 412, dtype: object


413 Name          MetagrossMega Metagross
Generation                          3
Name: 413, dtype: object


414 Name          Regirock
Generation           3
Name: 414, dtype: object


415 Name          Regice
Generation         3
Name: 415, dtype: object


416 Name          Registeel
Generation            3
Name: 416, dtype: object


417 Name          Latias
Generation         3
Name: 417, dtype: object


418 Name          LatiasMega Latias
Generation                    3
Name: 418, dtype: object


419 Name          Latios
Generation         3
Name: 419, dtype: object


420 Name          LatiosMega Latios
Generation                    3
Name: 420, dtype: object


421 Name          Kyogre
Generation         3
Name: 421, dtype: object


422 Name          KyogrePrimal Kyogre
Generation                      3
Name: 422, dtype: object


423 Name          Groudon
Generation          3
Name: 423, dtype: object


424 Name          GroudonPrimal Groudon
Generation                        3
Name: 424, dtype: object


425 Name          Rayquaza
Generation           3
Name: 425, dtype: object


426 Name          RayquazaMega Rayquaza
Generation                        3
Name: 426, dtype: object


427 Name          Jirachi
Generation          3
Name: 427, dtype: object


428 Name          DeoxysNormal Forme
Generation                     3
Name: 428, dtype: object


429 Name          DeoxysAttack Forme
Generation                     3
Name: 429, dtype: object


430 Name          DeoxysDefense Forme
Generation                      3
Name: 430, dtype: object


431 Name          DeoxysSpeed Forme
Generation                    3
Name: 431, dtype: object


432 Name          Turtwig
Generation          4
Name: 432, dtype: object


433 Name          Grotle
Generation         4
Name: 433, dtype: object


434 Name          Torterra
Generation           4
Name: 434, dtype: object


435 Name          Chimchar
Generation           4
Name: 435, dtype: object


436 Name          Monferno
Generation           4
Name: 436, dtype: object


437 Name          Infernape
Generation            4
Name: 437, dtype: object


438 Name          Piplup
Generation         4
Name: 438, dtype: object


439 Name          Prinplup
Generation           4
Name: 439, dtype: object


440 Name          Empoleon
Generation           4
Name: 440, dtype: object


441 Name          Starly
Generation         4
Name: 441, dtype: object


442 Name          Staravia
Generation           4
Name: 442, dtype: object


443 Name          Staraptor
Generation            4
Name: 443, dtype: object


444 Name          Bidoof
Generation         4
Name: 444, dtype: object


445 Name          Bibarel
Generation          4
Name: 445, dtype: object


446 Name          Kricketot
Generation            4
Name: 446, dtype: object


447 Name          Kricketune
Generation             4
Name: 447, dtype: object


448 Name          Shinx
Generation        4
Name: 448, dtype: object


449 Name          Luxio
Generation        4
Name: 449, dtype: object


450 Name          Luxray
Generation         4
Name: 450, dtype: object


451 Name          Budew
Generation        4
Name: 451, dtype: object


452 Name          Roserade
Generation           4
Name: 452, dtype: object


453 Name          Cranidos
Generation           4
Name: 453, dtype: object


454 Name          Rampardos
Generation            4
Name: 454, dtype: object


455 Name          Shieldon
Generation           4
Name: 455, dtype: object


456 Name          Bastiodon
Generation            4
Name: 456, dtype: object


457 Name          Burmy
Generation        4
Name: 457, dtype: object


458 Name          WormadamPlant Cloak
Generation                      4
Name: 458, dtype: object


459 Name          WormadamSandy Cloak
Generation                      4
Name: 459, dtype: object


460 Name          WormadamTrash Cloak
Generation                      4
Name: 460, dtype: object


461 Name          Mothim
Generation         4
Name: 461, dtype: object


462 Name          Combee
Generation         4
Name: 462, dtype: object


463 Name          Vespiquen
Generation            4
Name: 463, dtype: object


464 Name          Pachirisu
Generation            4
Name: 464, dtype: object


465 Name          Buizel
Generation         4
Name: 465, dtype: object


466 Name          Floatzel
Generation           4
Name: 466, dtype: object


467 Name          Cherubi
Generation          4
Name: 467, dtype: object


468 Name          Cherrim
Generation          4
Name: 468, dtype: object


469 Name          Shellos
Generation          4
Name: 469, dtype: object


470 Name          Gastrodon
Generation            4
Name: 470, dtype: object


471 Name          Ambipom
Generation          4
Name: 471, dtype: object


472 Name          Drifloon
Generation           4
Name: 472, dtype: object


473 Name          Drifblim
Generation           4
Name: 473, dtype: object


474 Name          Buneary
Generation          4
Name: 474, dtype: object


475 Name          Lopunny
Generation          4
Name: 475, dtype: object


476 Name          LopunnyMega Lopunny
Generation                      4
Name: 476, dtype: object


477 Name          Mismagius
Generation            4
Name: 477, dtype: object


478 Name          Honchkrow
Generation            4
Name: 478, dtype: object


479 Name          Glameow
Generation          4
Name: 479, dtype: object


480 Name          Purugly
Generation          4
Name: 480, dtype: object


481 Name          Chingling
Generation            4
Name: 481, dtype: object


482 Name          Stunky
Generation         4
Name: 482, dtype: object


483 Name          Skuntank
Generation           4
Name: 483, dtype: object


484 Name          Bronzor
Generation          4
Name: 484, dtype: object

485 Name          Bronzong
Generation           4
Name: 485, dtype: object


486 Name          Bonsly
Generation         4
Name: 486, dtype: object


487 Name          Mime Jr.
Generation           4
Name: 487, dtype: object


488 Name          Happiny
Generation          4
Name: 488, dtype: object


489 Name          Chatot
Generation         4
Name: 489, dtype: object


490 Name          Spiritomb
Generation            4
Name: 490, dtype: object


491 Name          Gible
Generation        4
Name: 491, dtype: object


492 Name          Gabite
Generation         4
Name: 492, dtype: object


493 Name          Garchomp
Generation           4
Name: 493, dtype: object


494 Name          GarchompMega Garchomp
Generation                        4
Name: 494, dtype: object


495 Name          Munchlax
Generation           4
Name: 495, dtype: object


496 Name          Riolu
Generation        4
Name: 496, dtype: object


497 Name          Lucario
Generation          4
Name: 497, dtype: object


498 Name          LucarioMega Lucario
Generation                      4
Name: 498, dtype: object


499 Name          Hippopotas
Generation             4
Name: 499, dtype: object


500 Name          Hippowdon
Generation            4
Name: 500, dtype: object


501 Name          Skorupi
Generation          4
Name: 501, dtype: object


502 Name          Drapion
Generation          4
Name: 502, dtype: object


503 Name          Croagunk
Generation           4
Name: 503, dtype: object


504 Name          Toxicroak
Generation            4
Name: 504, dtype: object


505 Name          Carnivine
Generation            4
Name: 505, dtype: object


506 Name          Finneon
Generation          4
Name: 506, dtype: object


507 Name          Lumineon
Generation           4
Name: 507, dtype: object


508 Name          Mantyke
Generation          4
Name: 508, dtype: object


509 Name          Snover
Generation         4
Name: 509, dtype: object


510 Name          Abomasnow
Generation            4
Name: 510, dtype: object


511 Name          AbomasnowMega Abomasnow
Generation                          4
Name: 511, dtype: object


512 Name          Weavile
Generation          4
Name: 512, dtype: object


513 Name          Magnezone
Generation            4
Name: 513, dtype: object


514 Name          Lickilicky
Generation             4
Name: 514, dtype: object


515 Name          Rhyperior
Generation            4
Name: 515, dtype: object


516 Name          Tangrowth
Generation            4
Name: 516, dtype: object


517 Name          Electivire
Generation             4
Name: 517, dtype: object


518 Name          Magmortar
Generation            4
Name: 518, dtype: object


519 Name          Togekiss
Generation           4
Name: 519, dtype: object


520 Name          Yanmega
Generation          4
Name: 520, dtype: object


521 Name          Leafeon
Generation          4
Name: 521, dtype: object


522 Name          Glaceon
Generation          4
Name: 522, dtype: object


523 Name          Gliscor
Generation          4
Name: 523, dtype: object


524 Name          Mamoswine
Generation            4
Name: 524, dtype: object


525 Name          Porygon-Z
Generation            4
Name: 525, dtype: object


526 Name          Gallade
Generation          4
Name: 526, dtype: object


527 Name          GalladeMega Gallade
Generation                      4
Name: 527, dtype: object


528 Name          Probopass
Generation            4
Name: 528, dtype: object


529 Name          Dusknoir
Generation           4
Name: 529, dtype: object


530 Name          Froslass
Generation           4
Name: 530, dtype: object


531 Name          Rotom
Generation        4
Name: 531, dtype: object


532 Name          RotomHeat Rotom
Generation                  4
Name: 532, dtype: object


533 Name          RotomWash Rotom
Generation                  4
Name: 533, dtype: object


534 Name          RotomFrost Rotom
Generation                   4
Name: 534, dtype: object


535 Name          RotomFan Rotom
Generation                 4
Name: 535, dtype: object


536 Name          RotomMow Rotom
Generation                 4
Name: 536, dtype: object


537 Name          Uxie
Generation       4
Name: 537, dtype: object


538 Name          Mesprit
Generation          4
Name: 538, dtype: object


539 Name          Azelf
Generation        4
Name: 539, dtype: object


540 Name          Dialga
Generation         4
Name: 540, dtype: object


541 Name          Palkia
Generation         4
Name: 541, dtype: object


542 Name          Heatran
Generation          4
Name: 542, dtype: object


543 Name          Regigigas
Generation            4
Name: 543, dtype: object


544 Name          GiratinaAltered Forme
Generation                        4
Name: 544, dtype: object


545 Name          GiratinaOrigin Forme
Generation                       4
Name: 545, dtype: object


546 Name          Cresselia
Generation            4
Name: 546, dtype: object


547 Name          Phione
Generation         4
Name: 547, dtype: object


548 Name          Manaphy
Generation          4
Name: 548, dtype: object


549 Name          Darkrai
Generation          4
Name: 549, dtype: object


550 Name          ShayminLand Forme
Generation                    4
Name: 550, dtype: object


551 Name          ShayminSky Forme
Generation                   4
Name: 551, dtype: object


552 Name          Arceus
Generation         4
Name: 552, dtype: object


553 Name          Victini
Generation          5
Name: 553, dtype: object


554 Name          Snivy
Generation        5
Name: 554, dtype: object


555 Name          Servine
Generation          5
Name: 555, dtype: object


556 Name          Serperior
Generation            5
Name: 556, dtype: object


557 Name          Tepig
Generation        5
Name: 557, dtype: object


558 Name          Pignite
Generation          5
Name: 558, dtype: object


559 Name          Emboar
Generation         5
Name: 559, dtype: object


560 Name          Oshawott
Generation           5
Name: 560, dtype: object


561 Name          Dewott
Generation         5
Name: 561, dtype: object


562 Name          Samurott
Generation           5
Name: 562, dtype: object


563 Name          Patrat
Generation         5
Name: 563, dtype: object


564 Name          Watchog
Generation          5
Name: 564, dtype: object


565 Name          Lillipup
Generation           5
Name: 565, dtype: object


566 Name          Herdier
Generation          5
Name: 566, dtype: object


567 Name          Stoutland
Generation            5
Name: 567, dtype: object


568 Name          Purrloin
Generation           5
Name: 568, dtype: object


569 Name          Liepard
Generation          5
Name: 569, dtype: object


570 Name          Pansage
Generation          5
Name: 570, dtype: object


571 Name          Simisage
Generation           5
Name: 571, dtype: object


572 Name          Pansear
Generation          5
Name: 572, dtype: object


573 Name          Simisear
Generation           5
Name: 573, dtype: object


574 Name          Panpour
Generation          5
Name: 574, dtype: object


575 Name          Simipour
Generation           5
Name: 575, dtype: object


576 Name          Munna
Generation        5
Name: 576, dtype: object


577 Name          Musharna
Generation           5
Name: 577, dtype: object


578 Name          Pidove
Generation         5
Name: 578, dtype: object


579 Name          Tranquill
Generation            5
Name: 579, dtype: object


580 Name          Unfezant
Generation           5
Name: 580, dtype: object


581 Name          Blitzle
Generation          5
Name: 581, dtype: object


582 Name          Zebstrika
Generation            5
Name: 582, dtype: object


583 Name          Roggenrola
Generation             5
Name: 583, dtype: object


584 Name          Boldore
Generation          5
Name: 584, dtype: object


585 Name          Gigalith
Generation           5
Name: 585, dtype: object


586 Name          Woobat
Generation         5
Name: 586, dtype: object


587 Name          Swoobat
Generation          5
Name: 587, dtype: object


588 Name          Drilbur
Generation          5
Name: 588, dtype: object


589 Name          Excadrill
Generation            5
Name: 589, dtype: object


590 Name          Audino
Generation         5
Name: 590, dtype: object


591 Name          AudinoMega Audino
Generation                    5
Name: 591, dtype: object


592 Name          Timburr
Generation          5
Name: 592, dtype: object


593 Name          Gurdurr
Generation          5
Name: 593, dtype: object


594 Name          Conkeldurr
Generation             5
Name: 594, dtype: object


595 Name          Tympole
Generation          5
Name: 595, dtype: object


596 Name          Palpitoad
Generation            5
Name: 596, dtype: object


597 Name          Seismitoad
Generation             5
Name: 597, dtype: object


598 Name          Throh
Generation        5
Name: 598, dtype: object


599 Name          Sawk
Generation       5
Name: 599, dtype: object


600 Name          Sewaddle
Generation           5
Name: 600, dtype: object


601 Name          Swadloon
Generation           5
Name: 601, dtype: object


602 Name          Leavanny
Generation           5
Name: 602, dtype: object


603 Name          Venipede
Generation           5
Name: 603, dtype: object


604 Name          Whirlipede
Generation             5
Name: 604, dtype: object


605 Name          Scolipede
Generation            5
Name: 605, dtype: object


606 Name          Cottonee
Generation           5
Name: 606, dtype: object

607 Name          Whimsicott
Generation             5
Name: 607, dtype: object


608 Name          Petilil
Generation          5
Name: 608, dtype: object


609 Name          Lilligant
Generation            5
Name: 609, dtype: object


610 Name          Basculin
Generation           5
Name: 610, dtype: object


611 Name          Sandile
Generation          5
Name: 611, dtype: object


612 Name          Krokorok
Generation           5
Name: 612, dtype: object


613 Name          Krookodile
Generation             5
Name: 613, dtype: object


614 Name          Darumaka
Generation           5
Name: 614, dtype: object


615 Name          DarmanitanStandard Mode
Generation                          5
Name: 615, dtype: object


616 Name          DarmanitanZen Mode
Generation                     5
Name: 616, dtype: object


617 Name          Maractus
Generation           5
Name: 617, dtype: object


618 Name          Dwebble
Generation          5
Name: 618, dtype: object


619 Name          Crustle
Generation          5
Name: 619, dtype: object


620 Name          Scraggy
Generation          5
Name: 620, dtype: object


621 Name          Scrafty
Generation          5
Name: 621, dtype: object


622 Name          Sigilyph
Generation           5
Name: 622, dtype: object


623 Name          Yamask
Generation         5
Name: 623, dtype: object


624 Name          Cofagrigus
Generation             5
Name: 624, dtype: object


625 Name          Tirtouga
Generation           5
Name: 625, dtype: object


626 Name          Carracosta
Generation             5
Name: 626, dtype: object


627 Name          Archen
Generation         5
Name: 627, dtype: object


628 Name          Archeops
Generation           5
Name: 628, dtype: object


629 Name          Trubbish
Generation           5
Name: 629, dtype: object


630 Name          Garbodor
Generation           5
Name: 630, dtype: object


631 Name          Zorua
Generation        5
Name: 631, dtype: object


632 Name          Zoroark
Generation          5
Name: 632, dtype: object


633 Name          Minccino
Generation           5
Name: 633, dtype: object


634 Name          Cinccino
Generation           5
Name: 634, dtype: object


635 Name          Gothita
Generation          5
Name: 635, dtype: object


636 Name          Gothorita
Generation            5
Name: 636, dtype: object


637 Name          Gothitelle
Generation             5
Name: 637, dtype: object


638 Name          Solosis
Generation          5
Name: 638, dtype: object


639 Name          Duosion
Generation          5
Name: 639, dtype: object


640 Name          Reuniclus
Generation            5
Name: 640, dtype: object


641 Name          Ducklett
Generation           5
Name: 641, dtype: object


642 Name          Swanna
Generation         5
Name: 642, dtype: object


643 Name          Vanillite
Generation            5
Name: 643, dtype: object


644 Name          Vanillish
Generation            5
Name: 644, dtype: object


645 Name          Vanilluxe
Generation            5
Name: 645, dtype: object


646 Name          Deerling
Generation           5
Name: 646, dtype: object


647 Name          Sawsbuck
Generation           5
Name: 647, dtype: object


648 Name          Emolga
Generation         5
Name: 648, dtype: object


649 Name          Karrablast
Generation             5
Name: 649, dtype: object


650 Name          Escavalier
Generation             5
Name: 650, dtype: object


651 Name          Foongus
Generation          5
Name: 651, dtype: object


652 Name          Amoonguss
Generation            5
Name: 652, dtype: object


653 Name          Frillish
Generation           5
Name: 653, dtype: object


654 Name          Jellicent
Generation            5
Name: 654, dtype: object


655 Name          Alomomola
Generation            5
Name: 655, dtype: object


656 Name          Joltik
Generation         5
Name: 656, dtype: object


657 Name          Galvantula
Generation             5
Name: 657, dtype: object


658 Name          Ferroseed
Generation            5
Name: 658, dtype: object


659 Name          Ferrothorn
Generation             5
Name: 659, dtype: object


660 Name          Klink
Generation        5
Name: 660, dtype: object


661 Name          Klang
Generation        5
Name: 661, dtype: object


662 Name          Klinklang
Generation            5
Name: 662, dtype: object


663 Name          Tynamo
Generation         5
Name: 663, dtype: object


664 Name          Eelektrik
Generation            5
Name: 664, dtype: object


665 Name          Eelektross
Generation             5
Name: 665, dtype: object


666 Name          Elgyem
Generation         5
Name: 666, dtype: object


667 Name          Beheeyem
Generation           5
Name: 667, dtype: object


668 Name          Litwick
Generation          5
Name: 668, dtype: object


669 Name          Lampent
Generation          5
Name: 669, dtype: object


670 Name          Chandelure
Generation             5
Name: 670, dtype: object


671 Name          Axew
Generation       5
Name: 671, dtype: object


672 Name          Fraxure
Generation          5
Name: 672, dtype: object


673 Name          Haxorus
Generation          5
Name: 673, dtype: object


674 Name          Cubchoo
Generation          5
Name: 674, dtype: object


675 Name          Beartic
Generation          5
Name: 675, dtype: object


676 Name          Cryogonal
Generation            5
Name: 676, dtype: object


677 Name          Shelmet
Generation          5
Name: 677, dtype: object


678 Name          Accelgor
Generation           5
Name: 678, dtype: object


679 Name          Stunfisk
Generation           5
Name: 679, dtype: object


680 Name          Mienfoo
Generation          5
Name: 680, dtype: object


681 Name          Mienshao
Generation           5
Name: 681, dtype: object


682 Name          Druddigon
Generation            5
Name: 682, dtype: object


683 Name          Golett
Generation         5
Name: 683, dtype: object


684 Name          Golurk
Generation         5
Name: 684, dtype: object


685 Name          Pawniard
Generation           5
Name: 685, dtype: object


686 Name          Bisharp
Generation          5
Name: 686, dtype: object


687 Name          Bouffalant
Generation             5
Name: 687, dtype: object


688 Name          Rufflet
Generation          5
Name: 688, dtype: object


689 Name          Braviary
Generation           5
Name: 689, dtype: object


690 Name          Vullaby
Generation          5
Name: 690, dtype: object


691 Name          Mandibuzz
Generation            5
Name: 691, dtype: object


692 Name          Heatmor
Generation          5
Name: 692, dtype: object


693 Name          Durant
Generation         5
Name: 693, dtype: object


694 Name          Deino
Generation        5
Name: 694, dtype: object


695 Name          Zweilous
Generation           5
Name: 695, dtype: object


696 Name          Hydreigon
Generation            5
Name: 696, dtype: object


697 Name          Larvesta
Generation           5
Name: 697, dtype: object


698 Name          Volcarona
Generation            5
Name: 698, dtype: object


699 Name          Cobalion
Generation           5
Name: 699, dtype: object


700 Name          Terrakion
Generation            5
Name: 700, dtype: object


701 Name          Virizion
Generation           5
Name: 701, dtype: object


702 Name          TornadusIncarnate Forme
Generation                          5
Name: 702, dtype: object


703 Name          TornadusTherian Forme
Generation                        5
Name: 703, dtype: object


704 Name          ThundurusIncarnate Forme
Generation                           5
Name: 704, dtype: object


705 Name          ThundurusTherian Forme
Generation                         5
Name: 705, dtype: object


706 Name          Reshiram
Generation           5
Name: 706, dtype: object


707 Name          Zekrom
Generation         5
Name: 707, dtype: object


708 Name          LandorusIncarnate Forme
Generation                          5
Name: 708, dtype: object


709 Name          LandorusTherian Forme
Generation                        5
Name: 709, dtype: object


710 Name          Kyurem
Generation         5
Name: 710, dtype: object


711 Name          KyuremBlack Kyurem
Generation                     5
Name: 711, dtype: object


712 Name          KyuremWhite Kyurem
Generation                     5
Name: 712, dtype: object


713 Name          KeldeoOrdinary Forme
Generation                       5
Name: 713, dtype: object


714 Name          KeldeoResolute Forme
Generation                       5
Name: 714, dtype: object


715 Name          MeloettaAria Forme
Generation                     5
Name: 715, dtype: object


716 Name          MeloettaPirouette Forme
Generation                          5
Name: 716, dtype: object


717 Name          Genesect
Generation           5
Name: 717, dtype: object


718 Name          Chespin
Generation          6
Name: 718, dtype: object


719 Name          Quilladin
Generation            6
Name: 719, dtype: object


720 Name          Chesnaught
Generation             6
Name: 720, dtype: object


721 Name          Fennekin
Generation           6
Name: 721, dtype: object


722 Name          Braixen
Generation          6
Name: 722, dtype: object


723 Name          Delphox
Generation          6
Name: 723, dtype: object


724 Name          Froakie
Generation          6
Name: 724, dtype: object


725 Name          Frogadier
Generation            6
Name: 725, dtype: object


726 Name          Greninja
Generation           6
Name: 726, dtype: object


727 Name          Bunnelby
Generation           6
Name: 727, dtype: object


728 Name          Diggersby
Generation            6
Name: 728, dtype: object


729 Name          Fletchling
Generation             6
Name: 729, dtype: object


730 Name          Fletchinder
Generation              6
Name: 730, dtype: object


731 Name          Talonflame
Generation             6
Name: 731, dtype: object


732 Name          Scatterbug
Generation             6
Name: 732, dtype: object


733 Name          Spewpa
Generation         6
Name: 733, dtype: object


734 Name          Vivillon
Generation           6
Name: 734, dtype: object


735 Name          Litleo
Generation         6
Name: 735, dtype: object


736 Name          Pyroar
Generation         6
Name: 736, dtype: object


737 Name          Flabébé
Generation          6
Name: 737, dtype: object


738 Name          Floette
Generation          6
Name: 738, dtype: object


739 Name          Florges
Generation          6
Name: 739, dtype: object


740 Name          Skiddo
Generation         6
Name: 740, dtype: object


741 Name          Gogoat
Generation         6
Name: 741, dtype: object


742 Name          Pancham
Generation          6
Name: 742, dtype: object


743 Name          Pangoro
Generation          6
Name: 743, dtype: object


744 Name          Furfrou
Generation          6
Name: 744, dtype: object


745 Name          Espurr
Generation         6
Name: 745, dtype: object


746 Name          MeowsticMale
Generation               6
Name: 746, dtype: object


747 Name          MeowsticFemale
Generation                 6
Name: 747, dtype: object


748 Name          Honedge
Generation          6
Name: 748, dtype: object


749 Name          Doublade
Generation           6
Name: 749, dtype: object


750 Name          AegislashBlade Forme
Generation                       6
Name: 750, dtype: object


751 Name          AegislashShield Forme
Generation                        6
Name: 751, dtype: object


752 Name          Spritzee
Generation           6
Name: 752, dtype: object


753 Name          Aromatisse
Generation             6
Name: 753, dtype: object


754 Name          Swirlix
Generation          6
Name: 754, dtype: object


755 Name          Slurpuff
Generation           6
Name: 755, dtype: object


756 Name          Inkay
Generation        6
Name: 756, dtype: object


757 Name          Malamar
Generation          6
Name: 757, dtype: object


758 Name          Binacle
Generation          6
Name: 758, dtype: object


759 Name          Barbaracle
Generation             6
Name: 759, dtype: object


760 Name          Skrelp
Generation         6
Name: 760, dtype: object


761 Name          Dragalge
Generation           6
Name: 761, dtype: object


762 Name          Clauncher
Generation            6
Name: 762, dtype: object


763 Name          Clawitzer
Generation            6
Name: 763, dtype: object


764 Name          Helioptile
Generation             6
Name: 764, dtype: object


765 Name          Heliolisk
Generation            6
Name: 765, dtype: object


766 Name          Tyrunt
Generation         6
Name: 766, dtype: object


767 Name          Tyrantrum
Generation            6
Name: 767, dtype: object


768 Name          Amaura
Generation         6
Name: 768, dtype: object


769 Name          Aurorus
Generation          6
Name: 769, dtype: object


770 Name          Sylveon
Generation          6
Name: 770, dtype: object


771 Name          Hawlucha
Generation           6
Name: 771, dtype: object


772 Name          Dedenne
Generation          6
Name: 772, dtype: object


773 Name          Carbink
Generation          6
Name: 773, dtype: object


774 Name          Goomy
Generation        6
Name: 774, dtype: object


775 Name          Sliggoo
Generation          6
Name: 775, dtype: object


776 Name          Goodra
Generation         6
Name: 776, dtype: object


777 Name          Klefki
Generation         6
Name: 777, dtype: object


778 Name          Phantump
Generation           6
Name: 778, dtype: object


779 Name          Trevenant
Generation            6
Name: 779, dtype: object


780 Name          PumpkabooAverage Size
Generation                        6
Name: 780, dtype: object


781 Name          PumpkabooSmall Size
Generation                      6
Name: 781, dtype: object


782 Name          PumpkabooLarge Size
Generation                      6
Name: 782, dtype: object


783 Name          PumpkabooSuper Size
Generation                      6
Name: 783, dtype: object


784 Name          GourgeistAverage Size
Generation                        6
Name: 784, dtype: object


785 Name          GourgeistSmall Size
Generation                      6
Name: 785, dtype: object


786 Name          GourgeistLarge Size
Generation                      6
Name: 786, dtype: object


787 Name          GourgeistSuper Size
Generation                      6
Name: 787, dtype: object


788 Name          Bergmite
Generation           6
Name: 788, dtype: object


789 Name          Avalugg
Generation          6
Name: 789, dtype: object


790 Name          Noibat
Generation         6
Name: 790, dtype: object


791 Name          Noivern
Generation          6
Name: 791, dtype: object


792 Name          Xerneas
Generation          6
Name: 792, dtype: object


793 Name          Yveltal
Generation          6
Name: 793, dtype: object


794 Name          Zygarde50% Forme
Generation                   6
Name: 794, dtype: object


795 Name          Diancie
Generation          6
Name: 795, dtype: object


796 Name          DiancieMega Diancie
Generation                      6
Name: 796, dtype: object


797 Name          HoopaHoopa Confined
Generation                      6
Name: 797, dtype: object


798 Name          HoopaHoopa Unbound
Generation                     6
Name: 798, dtype: object


799 Name          Volcanion
Generation            6
Name: 799, dtype: object

## Sorting/Describing Data

In [58]:
#df.sort_values(['Type 1', 'HP'], ascending=[1,0])
df[["Name","Attack"]].sort_values(["Attack"],ascending=0).head(5) #Top 5 Attack according to Name

                        Name  Attack
163      MewtwoMega Mewtwo X     190
232  HeracrossMega Heracross     185
424    GroudonPrimal Groudon     180
426    RayquazaMega Rayquaza     180
429       DeoxysAttack Forme     180

## Making changes to the data Add Extra Columns
#### 변수 주가

In [75]:
#Add extra Column name Total adding HP Attack and Attack
df["Total"]=df["HP"]+df["Attack"]+df["Defense"]
df.head() #Check the data frame
# Delete COlumn
# df = df.drop(columns=['Total'])
#Delete COl Name Total

df['Total'] = df.iloc[:, 4:10].sum(axis=1) #Add Columns 4 to 10 row wise and Assign in Total

#cols = list(df.columns)
#df = df[cols[0:4] + [cols[-1]]+cols[4:12]]

df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

318

## Saving our Data (Exporting into Desired Format)

In [117]:
df.to_csv('modified.csv', index=False)

#df.to_excel('modified.xlsx', index=False)

#df.to_csv('modified.txt', index=False, sep='\t')
#df.to_excel("modified.xlsx",index=False)
#df.to_csv("modified",index=True)

In [78]:
!ls #Check the saved File

Pandas Data Science Tutorial.ipynb
README.md
analysis.py
modified.txt
modified.xlsx
pokemon_data.csv
pokemon_data.txt
pokemon_data.xlsx

In [81]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

## Filtering Data

In [112]:
#df.loc[(df["Type 1"]=="Grass")] #Show only Grass in type1 COl

#df.loc[(df["Type 1"]=="Grass")&(df["Type 2"]=="Poison")&(df["Defense"]>100)]#Defence greater than 100 
#with Type 1 is Grass and Type 2 =="Poison"
#df.loc[(df["Type 2"]=="NaN")]

#new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]

#new_df.reset_index(drop=True, inplace=True)
#new_df
#new_df.to_csv('filtered.csv')
#new_df

Empty DataFrame
Columns: [#, Name, Type 1, Type 2, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary, Total]
Index: []


## Conditional Changes

In [115]:


# df.loc[df['Total'] > 500, ['Generation','Legendary']] = ['Test 1', 'Test 2']

# df

#df = pd.read_csv('modified.csv')
#df

## Aggregate Statistics (Groupby)

In [126]:
df = pd.read_csv('modified.csv')

#df['count'] = 1

#df.groupby(['Type 1', 'Type 2']).count()['count']
df.head()
h=df.groupby(['Type 1',"Type 2"])
h.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,405
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,534
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,634
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,634
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False,314
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False,405
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False,530
15,12,Butterfree,Bug,Flying,60,45,50,90,80,70,1,False,395
16,13,Weedle,Bug,Poison,40,35,30,20,20,50,1,False,195
17,14,Kakuna,Bug,Poison,45,25,50,25,25,35,1,False,205
18,15,Beedrill,Bug,Poison,65,90,40,45,80,75,1,False,395
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False,495
20,16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False,251
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False,349
22,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False,479
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False,579
26,21,Spearow,Normal,Flying,40,60,30,31,31,70,1,False,262
36,31,Nidoqueen,Poison,Ground,90,92,87,75,85,76,1,False,505
39,34,Nidoking,Poison,Ground,81,102,77,85,75,85,1,False,505
44,39,Jigglypuff,Normal,Fairy,115,45,20,45,25,20,1,False,270
45,40,Wigglytuff,Normal,Fairy,140,70,45,85,50,45,1,False,435
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False,245
47,42,Golbat,Poison,Flying,75,80,70,65,75,90,1,False,455
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False,320
51,46,Paras,Bug,Grass,35,70,55,45,55,25,1,False,285
...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,681,AegislashShield Forme,Steel,Ghost,60,50,150,50,150,60,6,False,520
756,686,Inkay,Dark,Psychic,53,54,53,37,46,45,6,False,288
757,687,Malamar,Dark,Psychic,86,92,88,68,75,73,6,False,482
758,688,Binacle,Rock,Water,42,52,67,39,56,50,6,False,306
760,690,Skrelp,Poison,Water,50,60,60,60,60,30,6,False,320
761,691,Dragalge,Poison,Dragon,65,75,90,97,123,44,6,False,494
764,694,Helioptile,Electric,Normal,44,38,33,61,43,70,6,False,289
765,695,Heliolisk,Electric,Normal,62,55,52,109,94,109,6,False,481
766,696,Tyrunt,Rock,Dragon,58,89,77,45,45,48,6,False,362
767,697,Tyrantrum,Rock,Dragon,82,121,119,69,59,71,6,False,521
768,698,Amaura,Rock,Ice,77,59,50,67,63,46,6,False,362
769,699,Aurorus,Rock,Ice,123,77,72,99,92,58,6,False,521
771,701,Hawlucha,Fighting,Flying,78,92,75,74,63,118,6,False,500
772,702,Dedenne,Electric,Fairy,67,58,57,81,67,101,6,False,431
773,703,Carbink,Rock,Fairy,50,50,150,50,150,50,6,False,500
777,707,Klefki,Steel,Fairy,57,80,91,80,87,75,6,False,470
778,708,Phantump,Ghost,Grass,43,70,48,50,60,38,6,False,309
779,709,Trevenant,Ghost,Grass,85,110,76,65,82,56,6,False,474
780,710,PumpkabooAverage Size,Ghost,Grass,49,66,70,44,55,51,6,False,335
781,710,PumpkabooSmall Size,Ghost,Grass,44,66,70,44,55,56,6,False,335
782,710,PumpkabooLarge Size,Ghost,Grass,54,66,70,44,55,46,6,False,335
790,714,Noibat,Flying,Dragon,40,30,35,45,40,55,6,False,245
791,715,Noivern,Flying,Dragon,85,70,80,97,80,123,6,False,535
793,717,Yveltal,Dark,Flying,126,131,95,131,98,99,6,True,680
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True,600
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

## Working with large amounts of data

In [128]:
new_df = pd.DataFrame(columns=df.columns)

for df in pd.read_csv('modified.csv', chunksize=5):
    results = df.groupby(['Type 1']).count()
    
    new_df = pd.concat([new_df, results])
    

    
new_df

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

,#,Attack,Defense,Generation,HP,Legendary,Name,Sp. Atk,Sp. Def,Speed,Total,Type 1,Type 2
Fire,1,1,1,1,1,1,1,1,1,1,1,NaN,0
Grass,4,4,4,4,4,4,4,4,4,4,4,NaN,4
Fire,4,4,4,4,4,4,4,4,4,4,4,NaN,3
Water,1,1,1,1,1,1,1,1,1,1,1,NaN,0
Bug,2,2,2,2,2,2,2,2,2,2,2,NaN,0
Water,3,3,3,3,3,3,3,3,3,3,3,NaN,0
Bug,5,5,5,5,5,5,5,5,5,5,5,NaN,5
Normal,5,5,5,5,5,5,5,5,5,5,5,NaN,4
Normal,3,3,3,3,3,3,3,3,3,3,3,NaN,2
Poison,2,2,2,2,2,2,2,2,2,2,2,NaN,0
Electric,2,2,2,2,2,2,2,2,2,2,2,NaN,0
Ground,2,2,2,2,2,2,2,2,2,2,2,NaN,0
Poison,1,1,1,1,1,1,1,1,1,1,1,NaN,0
Poison,5,5,5,5,5,5,5,5,5,5,5,NaN,2
Fairy,2,2,2,2,2,2,2,2,2,2,2,NaN,0
Fire,2,2,2,2,2,2,2,2,2,2,2,NaN,0
Normal,1,1,1,1,1,1,1,1,1,1,1,NaN,1
Grass,2,2,2,2,2,2,2,2,2,2,2,NaN,2
Normal,1,1,1,1,1,1,1,1,1,1,1,NaN,1
Poison,2,2,2,2,2,2,2,2,2,2,2,NaN,2
Bug,4,4,4,4,4,4,4,4,4,4,4,NaN,4
Grass,1,1,1,1,1,1,1,1,1,1,1,NaN,1
Ground,2,2,2,2,2,2,2,2,2,2,2,NaN,0
Normal,2,2,2,2,2,2,2,2,2,2,2,NaN,0
Water,1,1,1,1,1,1,1,1,1,1,1,NaN,0
Fighting,2,2,2,2,2,2,2,2,2,2,2,NaN,0
Fire,2,2,2,2,2,2,2,2,2,2,2,NaN,0
Water,1,1,1,1,1,1,1,1,1,1,1,NaN,0
Psychic,2,2,2,2,2,2,2,2,2,2,2,NaN,0
Water,3,3,3,3,3,3,3,3,3,3,3,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Psychic,3,3,3,3,3,3,3,3,3,3,3,NaN,0
Steel,2,2,2,2,2,2,2,2,2,2,2,NaN,2
Fairy,3,3,3,3,3,3,3,3,3,3,3,NaN,0
Steel,2,2,2,2,2,2,2,2,2,2,2,NaN,2
Dark,2,2,2,2,2,2,2,2,2,2,2,NaN,2
Fairy,1,1,1,1,1,1,1,1,1,1,1,NaN,0
Rock,2,2,2,2,2,2,2,2,2,2,2,NaN,2
Electric,1,1,1,1,1,1,1,1,1,1,1,NaN,1
Poison,2,2,2,2,2,2,2,2,2,2,2,NaN,2
Water,2,2,2,2,2,2,2,2,2,2,2,NaN,0
Electric,1,1,1,1,1,1,1,1,1,1,1,NaN,1
Rock,4,4,4,4,4,4,4,4,4,4,4,NaN,4
Dragon,1,1,1,1,1,1,1,1,1,1,1,NaN,0
Electric,1,1,1,1,1,1,1,1,1,1,1,NaN,1
Fairy,1,1,1,1,1,1,1,1,1,1,1,NaN,0
Fighting,1,1,1,1,1,1,1,1,1,1,1,NaN,1
Rock,1,1,1,1,1,1,1,1,1,1,1,NaN,1
Dragon,2,2,2,2,2,2,2,2,2,2,2,NaN,0
Ghost,2,2,2,2,2,2,2,2,2,2,2,NaN,2
Steel,1,1,1,1,1,1,1,1,1,1,1,NaN,1
Ghost,5,5,5,5,5,5,5,5,5,5,5,NaN,5
Ghost,3,3,3,3,3,3,3,3,3,3,3,NaN,3
Ice,2,2,2,2,2,2,2,2,2,2,2,NaN,0
Dark,1,1,1,1,1,1,1,1,1,1,1,NaN,1
Dragon,1,1,1,1,1,1,1,1,1,1,1,NaN,1
Fairy,1,1,1,1,1,1,1,1,1,1,1,NaN,0
Flying,2,2,2,2,2,2,2,2,2,2,2,NaN,2
Fire,1,1,1,1,1,1,1,1,1,1,1,NaN,1
Psychic,2,2,2,2,2,2,2,2,2,2,2,NaN,2
Rock,2,2,2,2,2,2,2,2,2,2,2,NaN,2